## Sklearn, multilinear regression, Some features

In [14]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [112]:
diabetes=datasets.load_diabetes()

In [113]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\ProgramData\\Anaconda3\\envs\\myenv\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\ProgramData\\Anaconda3\\envs\\myenv\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

In [140]:
data1=pd.DataFrame(data=np.c_[diabetes['data'],diabetes['target']],columns=diabetes['feature_names']+['target'])

In [126]:
data1.head(6)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346,97.0

In [225]:
x1=data1[['age','bmi','bp','sex']].values
x2=data1[['age','bmi','bp','s3','s4','s5','s6']].values
x3=data1[['age','bmi','bp','sex','s1','s2']].values
y=data1[['target']].values

In [226]:
x1

array([[ 0.03807591,  0.06169621,  0.02187235,  0.05068012],
       [-0.00188202, -0.05147406, -0.02632783, -0.04464164],
       [ 0.08529891,  0.04445121, -0.00567061,  0.05068012],
       ...,
       [ 0.04170844, -0.01590626,  0.01728186,  0.05068012],
       [-0.04547248,  0.03906215,  0.00121513, -0.04464164],
       [-0.04547248, -0.0730303 , -0.08141377, -0.04464164]])

In [227]:
from sklearn.model_selection import train_test_split
xtrain1,xtest1,ytrain1,ytest1=train_test_split(x1,y)
xtrain2,xtest2,ytrain2,ytest2=train_test_split(x2,y)
xtrain3,xtest3,ytrain3,ytest3=train_test_split(x3,y)

In [228]:
from sklearn.linear_model import LinearRegression

In [229]:
lin1=LinearRegression()
lin2=LinearRegression()
lin3=LinearRegression()

In [230]:
lin1.fit(xtrain1,ytrain1)
lin2.fit(xtrain2,ytrain2)
lin3.fit(xtrain3,ytrain3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [231]:
pred1=lin1.predict(xtest1)
pred2=lin2.predict(xtest2)
pred3=lin3.predict(xtest3)

In [232]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [233]:
print("R2 score: ",r2_score(ytest1,pred1))
print("R2 score: ",r2_score(ytest2,pred2))
print("R2 score: ",r2_score(ytest3,pred3))

R2 score:  0.3997090411596772
R2 score:  0.4741775352904203
R2 score:  0.3891322412030268

In [234]:
print("RMSE: ",sqrt(mean_squared_error(ytest1,pred1)))
print("RMSE: ",sqrt(mean_squared_error(ytest2,pred2)))
print("RMSE: ",sqrt(mean_squared_error(ytest3,pred3)))

RMSE:  63.202518186754105
RMSE:  54.53011480862393
RMSE:  59.88237017276904

In [235]:
print(lin1.score(xtest1,ytest1))
print(lin2.score(xtest2,ytest2))
print(lin3.score(xtest3,ytest3))

0.3997090411596772
0.47417753529042034
0.3891322412030268

## Sklearn, Linear Regression, All features

In [239]:
x=data1.drop('target',axis=1).values
y=data1[['target']].values

In [240]:
x

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [242]:
from sklearn.model_selection import train_test_split

In [243]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [244]:
from sklearn.linear_model import LinearRegression

In [245]:
lin=LinearRegression()

In [246]:
lin.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [247]:
pred=lin.predict(xtest)

In [248]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [249]:
print("Root mean square error: ",sqrt(mean_squared_error(ytest,pred)))
print("R2 score: ",r2_score(ytest,pred))
print("Accuracy: ",lin.score(xtest,ytest))

Root mean square error:  53.5932948001427
R2 score:  0.5632564280353392
Accuracy:  0.5632564280353392

## Kaggle,KNN, All features

In [160]:
data=pd.read_csv(r"D:\Downloads\pima-indians-diabetes-database\diabetes.csv")

In [161]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [184]:
x=data.drop('Outcome',axis=1).values
y=data[['Outcome']].values

In [185]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [186]:
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)

(576, 8) (192, 8) (576, 1) (192, 1)

In [261]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [262]:
knn.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [263]:
pred=knn.predict(xtest)

In [264]:
c=0
for i in range(0,len(ytest)):
    if(pred[i]==ytest[i]):
        c=c+1
print(c)

144

In [265]:
print(c/len(ytest))

0.75

In [266]:
knn.score(xtest,ytest)

0.75

## Kaggle, Regression, All features

In [250]:
data=pd.read_csv(r"D:\Downloads\pima-indians-diabetes-database\diabetes.csv")

In [251]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [252]:
x=data.drop('Outcome',axis=1).values
y=data[['Outcome']].values

In [253]:
from sklearn.model_selection import train_test_split

In [254]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [255]:
from sklearn.linear_model import LinearRegression

In [256]:
lin=LinearRegression()

In [257]:
lin.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [258]:
pred=lin.predict(xtest)

In [259]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [260]:
print("Root mean square error: ",sqrt(mean_squared_error(ytest,pred)))
print("R2 score: ",r2_score(ytest,pred))
print("Accuracy: ",lin.score(xtest,ytest))

Root mean square error:  0.3887925939138727
R2 score:  0.3197814351297512
Accuracy:  0.3197814351297512